<div>
    <div fxLayout="row wrap" fxLayoutAlign="center center" style="margin-bottom: 16px;">

        <div class="pl-xs pr-xs" fxFlex="100">
            <div class="title">
                Las 20 medidas más consultadas en llantas.pe
            </div>
            <div>
                <app-pie-chart></app-pie-chart>
            </div>
        </div>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="center center" style="margin-bottom: 16px;">

        <div class="pl-xs pr-xs" fxFlex="100" fxFlex.gt-xs="50">
            <div class="title">
                Las 10 Ips que más consultan en llantas.pe
            </div>
            <div>
                <app-bar-chart></app-bar-chart>
            </div>
        </div>
        <div class="pl-xs pr-xs" fxFlex="100" fxFlex.gt-xs="50">
            <div class="title">
                Ranking de paises que más consultan en llantas.pe
            </div>
            <div>
                <app-bar-chart></app-bar-chart>
            </div>
        </div>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="center center">

        <div class="pl-xs pr-xs" fxFlex="100" fxFlex.gt-xs="50">
            <div class="title">
                Dispositivos más usados
            </div>
            <div>
                <app-media-chart></app-media-chart>
            </div>
        </div>
        <div class="pl-xs pr-xs" fxFlex="100" fxFlex.gt-xs="50">
            <div class="title">
                Medidas buscadas por los usuarios
            </div>
            <div>
                <app-words-chart></app-words-chart>
            </div>
        </div>
    </div>
</div>